html {
  scroll-behavior: smooth;;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f6ff;
  /* display: flex; */
}

nav {
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; /* Initial background color */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

nav.scrolled {
  background-color: #053b50;
}

nav .layar-dalam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

nav .logo img {
  width: 150px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Pusatkan elemen ul */
  align-items: center; /* Pusatkan elemen ul */
}

nav ul li {
  margin: 0 10px; /* Jarak antar elemen li */
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #555;
}

nav .menu,
nav .login-signup {
  display: flex;
  align-items: center;
}

nav .tombol-menu {
  display: none;
}

/* Pop up user */

.icon-user {
  position: relative;
  display: inline-block;
}

.icon-user i {
  cursor: pointer;
}

.pop-up-user {
  /* display: none; */
  position: absolute;
  top: 50px; /* Sesuaikan dengan posisi yang diinginkan */
  right: 0;
  width: 190px; /* Sesuaikan lebar popup dengan 210px */
  height: 100px; /* Sesuaikan tinggi popup dengan 100px */
  background-color: rgba(255, 255, 255, 0.4); /* Warna latar belakang dengan alpha untuk efek bening */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px; /* Mengurangi padding agar sesuai dengan tinggi yang diinginkan */
  z-index: 1; /* Pastikan popup tampil di atas elemen lainnya */
  backdrop-filter: blur(5px); /* Efek blur */
}

.pop-up-user ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pop-up-user li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.pop-up-user li:last-child {
  border-bottom: none;
}

.pop-up-user-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.favorite-container,
.logout-container {
  margin: 10px;
  display: flex;
  align-items: center;
}

.favorite-container i {
  margin-right: 5px;
}

/* Menambahkan CSS untuk mengubah urutan elemen */
.favorite-container {
  order: 1; /* Menempatkan elemen favorite di atas elemen logout */
}

.logout-container {
  order: 2; /* Menempatkan elemen logout di bawah elemen favorite */
}

.love-icon-popup {
  vertical-align: middle; /* Membuat ikon dan teks sejajar vertikal */
  color: black; /* Membuat warna ikon transparan */
}

.logout-icon-popup {
  vertical-align: middle; /* Membuat ikon dan teks sejajar vertikal */
  color: black; /* Membuat warna ikon transparan */
}


/* Style untuk ikon user */
.far.fa-user-circle {
  color: #fff; /* Warna ikon */
  margin-left: auto;
}

/* Additional styles for the new popup */
.popup-favorite {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1178px; /* Set the width */
  height: 555px; /* Set the height */
  background-color: #fff;
  z-index: 1000;
  border-radius: 25px;
}

.popup-favorite .close {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.favorites-title,
.favorites-subtitle,
.go-to-text { 
  font-family: 'Poppins', sans-serif; /* Specify the Poppins font */
}

.favorites-title {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
  padding-left: 96px;
  padding-top: 70px;
}

.favorites-subtitle {
  font-size: 16px;
  padding-left: 96px;
}

.go-to-text {
  text-align: right;
  font-size: 16px;
  margin-top: 0; /* Adjust the margin-top based on your preference */
  padding-top: 120px;
  padding-left: 542px;
  cursor: pointer; /* Add cursor pointer for indicating it's clickable */
  text-decoration: underline; /* Add underline for the text */
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    margin: 0;
    text-align: center;
    padding: 10px;
  }

  nav .tombol-menu {
    display: block;
    cursor: pointer;
  }

  nav .layar-dalam {
    flex-direction: column;
    align-items: flex-start;
  }

  nav .menu {
    margin-top: 10px;
  }

  nav .tombol-menu {
    display: block;
    cursor: pointer;
  }

  /* Add new styles for the hamburger icon */
  nav .tombol-menu .garis {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  nav .menu.active .garis:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  nav .menu.active .garis:nth-child(2) {
    opacity: 0;
  }

  nav .menu.active .garis:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh; /* Ubah tinggi menjadi 100vh untuk mengisi seluruh layar */
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%; /* Ubah tinggi menjadi 100% untuk mengisi seluruh tinggi carousel */
  display: flex;
  transition: 2s;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  height: 100%; /* Ubah tinggi menjadi 100% untuk mengisi seluruh tinggi carousel */
  transition: 2s;
  display: inline;
  text-align: center;
}

.slide img {
  width: 100%;
  height: 100%; /* Ubah tinggi menjadi 100% untuk mengisi seluruh tinggi carousel */
  object-fit: cover; /* Pastikan gambar mengisi area slide dengan benar */
}

/* CSS for navigation */
.navigation {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  border: 2px solid #f2f6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  margin: 0 10px;
}

.nav-btn:hover {
  background: #f2f6ff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.container1 {
  text-align: center;
  /* padding: 20px; */
  width: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: fit-content;
}

.subtitle h3 {
  font-size: 30px;
  margin-bottom: 2em;
}

.container2 {
  text-align: center;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 80px;
  border: 5px;
  overflow: hidden;
}

.title2 {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 5px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.subtitle2 {
  margin-bottom: 2em;
  margin-top: 2em;
  font-size: 1.2em;
}

.container2 div {
  margin: 60px 5% 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0074d9; */
}

.container2 p {
  margin-top: 0;
  width: 55%;
  word-spacing: 5px;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  height: 100%;
  /* background-color: #000; */
}

.container2 img {
  width: 40%;
}

.container3 {
  text-align: center;
  padding: 20px;
  /* border: 1 px solid #f2f6ff; */
  border: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.title3 {
  display: flex;
  justify-content: space-between;
}

.container3 h1 {
  margin-top: 40px;
  margin-bottom: 0;
  letter-spacing: 5px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container3 p {
  margin-top: 75px;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 40px;
  margin-bottom: 50px;
  /* width: 55%; */
  word-spacing: 5px;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  /* height: 100%; */
  display: flex;
  /* background-color: #000; */
}

.container3 img {
  width: 40%;
  height: 50%;
  float: left;
  margin-top: 80px;
  margin-right: 30px;
  margin-left: 50px;
}

.container4 {
  text-align: center;
  padding: 35px;
  /* border: 1 px solid #f2f6ff; */
  border: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.container4 h1 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  margin-top: 40px;
}

.search input[type="text"] {
  width: 300px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.search button {
  background-color: #0074d9;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

/* @mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
} */

/* .destination .box-container{
  @include grid(27rem);

  .box{
    border-radius: 1rem;
    overflow: hidden;

    &:hover img{
      transform: scale(1.1);
    }

    .image{
      height: 20rem;
      overflow: hidden;
      width: 100%;


      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
} */

.search {
  text-align: center;
  margin-top: 20px;
}

.search-box {
  padding: 10px;
  width: 260px; /* Sesuaikan lebar dengan ikon */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.container4 .box-container {
  justify-content: center;
  gap: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  border-radius: 1rem;
  overflow: hidden;
  background: #b4dcff;
}

.image:hover img {
  transform: scale(1.1);
}

.content {
  padding: 0.7rem;
  text-align: center;
}

.content h3 {
  font-size: 1em;
}

.content p {
  padding: 0.5rem 0;
  font-size: 0.9em;
  line-height: 2;
}

.content button {
  font-size: 0.9em;
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
  color: #3498db;
}

.button p3:hover {
  color: #003380;
}

/* .content .i .fas {
  padding-right: 1em;
} */

/* .fas:hover {
  padding-left: 0.5em;
} */

.centered {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2f2f2;
  padding: 10px;
  z-index: 6;
  font: optional;
  /* background-color: red; */
}

.centered .title {
  font-size: 110px;
  margin: 0;
  width: 100%;
  font-family: 'Shojumaru'
  /* background-color: black; */
}

.centered .subtitle {
  margin-top: 0;
  /* line-height: 24px; */
  line-height: 2em;
  /* background: #000; */
  word-spacing: 0.09em;
}

.gelap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000007c;
}

.slider {
  width: auto; /* Sesuaikan dengan lebar gambar */
  height: 100%;
  background: #000;
}

.slider img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.container5 {
  width: 100%;
  padding: 78px 0px;
}

.container5 img {
  height: auto;
  width: 420px;
  border-radius: 20px;
}

.about-text {
  width: 550px;
}

.title5 {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h1 {
  color: black;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.about-text p {
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 45px;
  text-align: justify;
}

.button {
  display: inline-block;
  padding: 13px;
  border-radius: 13px;
  background-color: #3498db;
  color: white;
  font-size: 15px;
  font-weight: 350;
  transition: all 0.5s ease;
  cursor: pointer;
  text-decoration: none;
  border-color: #3498db;
}

.container6 {
  text-align: center;
}

.title6 h1 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

.team img {
  width: 80%;
  height: 350px; /* Buat spesifik ketinggian foto biar jadi sama */
  object-fit: cover; /* Membenarkan aspek rasio dan cover container */
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 20px;
}

.team {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.team h6 {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
}

.team div {
  text-align: center;
  width: 26%;
  margin-bottom: 20px; /* Menambah margin untuk membuat ruang tiap items */
}

.team span {
  font-size: 18px;
}

.second-row {
  margin-top: 25px;
  width: 100%; /* Membuat items di second row memiliki full width*/
}

.container7 {
  height: 125vh;
  border: 1px solid;
  background-image: url("../Assets/sunset-pantai-marina.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title7 h2 {
  color: white;
  z-index: 1;
  padding: 20px 25px;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  position: relative;
  text-align: center;
  line-height: 1.5em;
}

.button7 {
  display: inline-block;
  padding: 13px;
  border-radius: 13px;
  background-color: white;
  color: #0074d9;
  font-size: 15px;
  font-weight: 350;
  transition: all 0.5s ease;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.popup {
  display: none; /* Mengubah display menjadi none */
  align-items: center;
  border-radius: 25px; /* Menambahkan lengkungan pada border */
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1178px; /* Sesuaikan dengan lebar yang diinginkan */
  height: 530px; /* Sesuaikan dengan tinggi yang diinginkan */
  border: 0px;
  padding: 0px;
  background: #fff;
  z-index: 1;
}

.popup .close {
  position: absolute;
  top: 25px;
  right: 30px;
  cursor: pointer;
}

/* Style untuk konten di dalam pop-up */
.popup-content {
  display: flex;
}

.popup-img {
  width: 595px; /* Sesuaikan dengan lebar yang diinginkan */
  height: 530px; /* Sesuaikan dengan tinggi yang diinginkan */
  border-top-left-radius: 25px; /* Radius border di sebelah kiri atas gambar */
  border-bottom-left-radius: 25px; /* Radius border di sebelah kiri bawah gambar */
}

.popup-text {
  width: 60%;
  /*padding-left: 20px; */
  margin-left: 40px;
  margin-right: 70px;
  text-align: left; /* Menentukan teks berada di sebelah kiri */
}

.popup-text h2 {
  margin-top: 100px;
  margin-bottom: 20px; 
}

.popup-paragraph {
  display: flexbox;
  font-size: 12px;
  margin-left: 12px; /*Adjust margin as needed*/
  margin-bottom: 5px; /* Menambahkan jarak dua baris */
  color: #808080; /* Warna abu-abu muda untuk teks alamat */
  position: relative;
}

.popup-time {
  font-size: 12px;
  margin-bottom: 20px;
  color: #808080; /* Warna abu-abu muda untuk teks waktu */
}

.time-icon {
  margin-right: 5px;
  color: red; /* Tambahkan warna merah untuk ikon waktu */
  font-size: 12px;
}

.location-icon {
  /* position: absolute; */
  color: red; /* or any other color you prefer */
  font-size: 12px;
  margin-left: -10px;
  margin-right: 5px;
  /* Adjust margin as needed */
}

.popup-text button {
  background-color: #fff;
  color: #3498db;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

 .btn-fav {
   margin-top: 120px;
 }

.popup-text button:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #fff; /* Change border color on hover */
}
.btn-fav.favorite {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
}

.btn-fav.favorite:hover {
  background-color: #3498db;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.contact-form {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  padding: 30px;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}

.container8 {
  max-width: 800px;
  margin-top: 0 auto;
}

.contact-form h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: #3498db;
  font-family: "poppins";
}

.contact-form h2 {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  color: #3498db;
  text-align: center;
}

.contact-form .main {
  position: relative;
  display: flex;
  margin: 30px 0;
}

.content2 {
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(156, 39, 148, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-img {
  flex-basis: 50%;
  background: #f0f4f8;
  background-size: cover;
  padding: 0;
  border-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
}

.form-img img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn,
button,
input {
  border-radius: 35px;
}

.btn:hover,
button:hover {
  color: #3498db;
  transition: 0.5s ease;
}

.contact-form form {
  margin: 30px 0;
}

.contact-form input,
textarea {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: #999;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #fcfcfc;
  transition: 0.3s ease;
}

.contact-form input:focus {
  background: transparent;
  border: 1px solid #3498db;
}

.contact-form button {
  font-size: 18px;
  color: #fff;
  width: 100%;
  background: #3498db;
  font-weight: 600;
  transition: 0.3s ease;
  padding: 14px 15px;
  border: 1px solid #3498db;
}

@media (max-width: 736px) {
  .contact-form {
    grid-template-rows: auto;
  }

  .contact-form .main {
    flex-direction: column;
    margin: 15px 0;
  }

  .content2,
  .form-img {
    flex-basis: 100%;
    border-radius: 8px;
  }

  .form-img {
    order: 2;
    margin-top: 15px;
  }

  .content2 {
    margin-bottom: 15px;
  }
}

.container9 {
  max-width: 1170px;
  /* background-color: red; */
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* background-color: orange; */
}

ul {
  list-style: none;
}

.footer {
  background-color: #0074d9;
  padding: 40px 0 0;
}

.footer-col {
  width: 25%;
  /* margin-right: 4em; */
  padding: 0 25px;
  /* background-color: red; */
}

.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #f2f2f2;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  /* text-transform: capitalize; */
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: white;
  padding-left: 2px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #f2f6ff;
  background-color: aqua;
}

.footer-left img {
  width: 100%;
  vertical-align: middle;
  margin-top: 65px;
  /* background-color: #4CAF50; */
}
.footer-left div {
  margin-right: 25px;
}

.footer-left {
  margin-right: 4em;
  /* background-color: red; */
}

.rights {
  margin-top: 10px;
  color: white !important;
}

.rights p {
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

/* responsive */
/* @media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .footer-col {
    width: 100%;
  }
} */
